<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ttms.dao.SaleDAO">
    <insert id="insertSale" parameterType="Sale" useGeneratedKeys="true" keyProperty="sale_ID">
        insert into sale(
        emp_id,
        sale_time,
        sale_payment,
        sale_change,
        sale_type,
        sale_status)
        values(
        #{emp_id},
        #{sale_time},
        #{sale_payment},
        #{sale_change},
        #{sale_type},
        #{sale_status})
    </insert>
</mapper>